# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.*.local
!.env.example

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# test / coverage
coverage/
.nyc_output/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# docker
docker/volumes/
pgdata/
redisdata/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# misc
*.pem
.turbo/
